body{
    font-family: 'Oswald', sans-serif;
}

/*WELCOME SECTION*/
.welcomeHome{
    background-image: url("../images/contact1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 64% 65%;
}

.contactForm{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}